
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />

    <!-- Подключаем стили, скрипт, vue -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="Vue.js"></script>
    <script type="text/javascript" async src="quote.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- ################################### -->

    <title>Цитатник</title>

</head>

<body>

  <div id="global-wrap" >

    <header>
      <div class="header-background-color-layer">
        <span class="head-title">Цитатник |</span>
        <span class="head-title definition">Самый обычный цитатник.</span>
      </div>
    </header>

    <!-- ######################################################## -->

    <div class="main-content">

      <section class="section-wrap" id="123">

        <div v-if="quotesIsExist" class="quotes" id="quotes-wrap">
          <quote-block v-for="quote in filterQuotes"
            v-bind:quote="quote"
            v-bind:key="quote.QuoteId"></quote-block>
        </div>
        <div v-if="!quotesIsExist" class="empty-section" id="empty-wrap">
          <!-- v-else не работает, поэтому костыли -->
          Цитат нет
        </div>

      </section>

      <!-- #################################################################### -->

      <aside class="right-wrap">

        <aside class="add-new-quote" id="new-quote">
          <h2 class="aside-title">Добавить цитату</h2>
          <form id="new-quote-form">
            <input v-model="author" class="new-quote-form" id="input-author" placeholder="Автор (От 2 до 50 знаков)">
            <select v-model="category" class="new-quote-form" id="input-category">
              <option selected disabled value=0>Категория</option>
              <option v-for="categoryIterator in categories"
                v-bind:value="categoryIterator.CategoryId">{{categoryIterator.Name}}</option>
            </select>
            <textarea v-model="text" class="new-quote-form" id="input-quote" placeholder="Текст цитаты (минимум 20 знаков, запрещены символы < и >)"></textarea>
            <div class="new-quote-form" v-bind:class="{error: !isCorrectData, done: isCorrectData}" id="input-error">{{errorMessage}}</div>
            <span v-on:click="validateInput" id="add-submit-button">Добавить</span>
          </form>
        </aside>

      <!--############################################################################-->

        <aside class="filter" id="quotes-filter">
          <h2 class="filter-title">Фильтр</h2>
          <form id="filter-form">
            <input class="filter-form" id="filter-author" placeholder="Автор" v-model="selectAuthor">
            <select v-model="selectCategories" class="filter-form" id="filter-category" multiple>
              <option disabled>Категории</option>
              <option v-for="category in categories"
                v-bind:value="category.CategoryId">{{category.Name}}</option>
            </select>
            <div class="filter-buttons-wrap filter-form">
              <span class="filter-button" id="filter-sumbit" v-on:click="applyFilter">Применить</span>
              <span class="filter-button"id="filter-drop" v-on:click="dropFilter">Сбросить</span>
            </div>
          </form>
        </aside>

        <!--############################################################################-->

        <aside class="time" id="current-time">
          <h2 class="time-title">{{time}}</h2>
        </aside>

      </aside>

    </div>

    <footer>
      <span class="copyright">
        <a class="copyright" href="https://github.com/idRem7">(C) Ruslan Rakhimov</a>
      </span>
    </footer>

  </div>

</body>
</html>
