
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />

    <!-- Подключаем стили, скрипт, vue -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="Vue.js"></script>
    <script type="text/javascript" async src="quote.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- ################################### -->

    <title>Цитатник</title>

</head>

<body>

  <div id="global-wrap" >

    <header>
      <div class="header-background-color-layer">
        <span class="head-title">Цитатник |</span>
        <span class="head-title definition">Самый обычный цитатник.</span>
      </div>
    </header>

    <!-- ######################################################## -->

    <div class="main-content">

      <section class="section-wrap" id="123">


        <div v-if="quotesIsExist" class="quotes" id="quotes-wrap">
          <quote-block v-for="quote in quotes"
            v-bind:quote="quote"
            v-bind:key="quote.QuoteId"></quote-block>
        </div>
        <div v-else class="empty-section">
          Цитат нет
        </div>
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- ########################################################## -->

        <!-- #################################################################### -->

        <!-- <section class="editing">
          <span class="quote-id section-second-text">#<span>1237</span>
          </span>
          <span class="quote-separator section-second-text">|</span>
          <select class="editing-category">
              <option value="">Не знаю</option>
          </select>
          <span class="quote-img-buttons-wrap">
            <img class="quote-img-button" src="img/done.png" alt="Done"
            onmouseout="this.src='img/done.png'"
            onmouseover="this.src='img/done-hover.png'"
            ondragstart="return false"><img
            class="quote-img-button" src="img/delete.png" alt="Cancel"
            onmouseout="this.src='img/delete.png'"
            onmouseover="this.src='img/delete-hover.png'"
            ondragstart="return false">
          </span>
          <textarea class="editing-text">Я играю ради победы.</textarea>
          <span class="quote-date section-second-text">08/08/2018</span>
          <input class="editing-author" value="D.Va (Hannah Song)">
          <div class="editing-error">Ошибка</div>
        </section> -->
        <!-- ######################################################################### -->
        <!-- <section v-else="" id="empty-section">
          Цитат нет
        </section> -->
        <!-- ##################################################################### -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->


      </section>

      <!-- #################################################################### -->

      <aside class="right-wrap">

        <aside class="add-new-quote">
          <h2 class="aside-title">Добавить цитату</h2>
          <form id="new-quote-form">
            <input class="new-quote-form" id="input-author" placeholder="Автор">
            <select class="new-quote-form" id="input-category">
              <option selected>Категория</option>
            </select>
            <textarea class="new-quote-form" id="input-quote" placeholder="Текст цитаты"></textarea>
            <div class="new-quote-form" id="input-error">Какая-то ошибка</div>
            <span id="add-submit-button">Добавить</span>
          </form>
        </aside>

      <!--############################################################################-->

        <aside class="filter">
          <h2 class="filter-title">Фильтр</h2>
          <form id="filter-form">
            <input class="filter-form" id="filter-author" placeholder="Автор">
            <select class="filter-form" id="filter-category">
              <option selected>Категории</option>
            </select>
            <div class="filter-buttons-wrap filter-form">
              <span class="filter-button" id="filter-sumbit">Применить</span>
              <span class="filter-button"id="filter-drop">Сбросить</span>
            </div>
          </form>
        </aside>

        <!--############################################################################-->

        <aside class="time">
          <h2 class="time-title">14:42:02</h2>
        </aside>

      </aside>

    </div>

    <footer>
      <span class="copyright">
        <a class="copyright" href="https://github.com/idRem7">(C) Ruslan Rakhimov</a>
      </span>
    </footer>

  </div>

</body>
</html>
