/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------------------------- */

/* @font-face {
	font-family: 'Helvetica Neue Cyr Medium';
	src: url('fonts/HelveticaNeueCyr-Medium.eot');
	src: url('fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
	url('fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Helvetica Neue Cyr Roman';
	src: url('fonts/HelveticaNeueCyr-Roman.eot');
	src: url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Medium';
	src: url('fonts/Sofia-Medium.eot');
	src: url('fonts/Sofia-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/Sofia-Medium.woff') format('woff'),
	url('fonts/Sofia-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pancetta Pro Medium';
	src: url('fonts/PancettaPro-Medium.eot');
	src: url('fonst/PancettaPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/PancettaPro-Medium.woff') format('woff'),
	url('fonts/PancettaPro-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif Caption Regular';
	src: url('fonts/PTSerif-Caption.eot');
	src: url('fonts/PTSerif-Caption.eot?#iefix') format('embedded-opentype'),
	url('fonts/PTSerif-Caption.woff') format('woff'),
	url('PTSerif-Caption.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Uninsta Normal';
	src: url('fonts/Uninsta-Normal.eot');
	src: url('fonts/Uninsta-Normal.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-Normal.woff') format('woff'),
	url('fonts/Uninsta-Normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uninsta Normal Italic';
	src: url('fonts/Uninsta-NormalItalic.eot');
	src: url('fonts/Uninsta-NormalItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-NormalItalic.woff') format('woff'),
	url('fonts/Uninsta-NormalItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
@font-face {
	font-family: 'Uninsta Heavy';
	src: url('fonts/Uninsta-Heavy.eot');
	src: url('fonts/Uninsta-Heavy.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-Heavy.woff') format('woff'),
	url('fonts/Uninsta-Heavy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Uninsta Bold';
	src: url('fonts/Uninsta-Bold.eot');
	src: url('fonts/Uninsta-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-Bold.woff') format('woff'),
	url('fonts/Uninsta-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uninsta Demibold';
	src: url('fonts/Uninsta-DemiBold.eot');
	src: url('fonts/Uninsta-DemiBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-DemiBold.woff') format('woff'),
	url('fonts/Uninsta-DemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Geometria Regular';
	src: url('fonts/Geometria.eot');
	src: url('fonts/Geometria.eot?#iefix') format('embedded-opentype'),
	url('fonts/Geometria.woff') format('woff'),
	url('fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Spectral Medium';
	src: url('fonts/Spectral-Medium.eot');
	src: url('fonts/Spectral-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/Spectral-Medium.woff') format('woff'),
	url('fonts/Spectral-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uninsta Medium';
	src: url('fonts/Uninsta-Medium.eot');
	src: url('fonts/Uninsta-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-Medium.woff') format('woff'),
	url('fonts/Uninsta-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uninsta Medium Italic';
	src: url('fonts/Uninsta-MediumItalic.eot');
	src: url('fonts/Uninsta-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Uninsta-MediumItalic.woff') format('woff'),
	url('fonts/Uninsta-MediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* ---------------------------------------------------------------------------------- */
body{
		/* background-color: #0E2333; */
		background-image: url("img/bckg.jpg");
		background-attachment: fixed;
}

#global-wrap{
	width: 100%;
}

header{
	/* background-image: url("img/header.jpg"); */
	/* background-color: #F2E3D5; */
	background: linear-gradient(to right, #F2E3D5FF 1%, #07182699 40%, #00000000);
	background-size: 170%;
	height: 80px;
	width: 1185px;
	border-radius: 0 0 7px 7px;
	margin: 0 auto;
	margin-bottom: 30px;
  /* position: fixed; */
}

.header-background-color-layer{
	background-color: #F2614400;
	height: 100%;
	border-radius: 0 0 20px 20px;
}

.head-title{
	display: inline-block;
	vertical-align: middle;
	font-size: 50px;
	/* font-family: Georgia; */
	color: #071826;
	margin-top: 12px;
	margin-left: 60px;
	font-family: 'Spectral Medium';
}

.head-title.definition{
	font-size: 20px;
	margin: 32px 0 0 5px;

}

.main-content{
	margin: 0 auto;
	width: 1185px;
	height: auto;
	overflow: hidden;
}

section.section-wrap{
	width: 760px;
	float: left;
	margin-right: 30px;
	height: 1000px;
	height: auto;
	overflow: hidden;
	/* background-color: #F2F2F0CC; */
}

.empty-section{
	color: white;
	text-align: center;
	font-size: 50px;
	padding: 20px;
	font-family: 'Geometria Regular';
}

section.quote{
	display: block;
	background-color: #F2F2F0CC;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 7px;
	padding: 15px 20px 15px 20px;
	font-size: 20px;
	border: 1px;
	border-style: solid;
	border-color: #567D8C;
	color: #071826;
}

section.editing{
	display: block;
	background-color: #F2F2F0CC;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 7px;
	padding: 15px 20px 15px 20px;
	font-size: 20px;
	color: #071826;
	border: 1px;
	border-style: solid;
	border-color: #567D8C;
}

.editing-category{
	border: 0;
	/* height: 20px; */
	font-size: 18px;
	text-align: left;
	width: 160px;
	border-radius: 5px;
	color: #071826;
	font-family: 'Uninsta Medium';
	outline: none;
	border: none;
}

.editing-text{
	box-sizing: border-box;
	display: block;
	border: 0;
	margin: 15px 0px 15px 0;
	resize: none;
	width: 720px;
	height: 200px;
	padding: 10px;
	padding-top: 5px;
	text-align: left;
	font-size: 20px;
	/* font-style: italic; */
	border-radius: 5px;
	color: #071826;
	font-family: 'Uninsta Medium';
	outline: none;
	border: none;
}

.editing-author{
	font-family: 'Uninsta Medium';
	display: inline;
	float: right;
	/* margin-right: 15px; */
	padding: 0px 5px 1px 5px;
	text-align: right;
	border: 0;
	/* font-style: italic; */
	font-size: 22px;
	border-radius: 5px;
	color: #071826;
	width: 340px;
	outline: none;
	border: none;
}

.editing-error{
	margin-top: 10px;
	font-family: 'Uninsta Medium';
	overflow: hidden;
	word-break: break-all;
}

.error{
		color: #F7574F;
}

.done{
	color: #3C545E;
}

.quote-separator{
	margin: 0 3px 0 3px;
}

.quote-text{
	margin: 10px 10px 10px 0;
	font-size: 25px;
	text-align: right;
	/* font-style: italic; */
}

.section-primary-text{
	color: #071826;
	font-family: 'Uninsta Medium';
}

.section-second-text{
	color: #164059;
	font-family: 'Uninsta Normal';
}

.quote-author{
	display: inline-block;
	text-align: right;
	/* font-style: italic; */
	margin-right: 15px;
	float: right;
	font-weight: bold;
	font-family: 'Uninsta Normal';
}

.quote-img-buttons-wrap{
	display: inline-block;
	float: right;
	margin: 0px 0px 0 0;
}

img.quote-img-button{
	height: 20px;
	user-select: none;
	margin-left: 2px;
}

aside.right-wrap{
	float: left;
}

aside.add-new-quote{
	background-color: #F2F2F0CC;
	width: 395px;
	height: 550px;
	height: auto;
	overflow: hidden;
	border-radius: 7px;
	box-sizing: border-box;
	padding: 15px 22px;
	border: 1px;
	border-style: solid;
	border-color: #567D8C;
	overflow: hidden;
}

aside.filter{
	background-color: #F2F2F0CC;
		margin-top: 20px;
		border-radius: 7px;
		height: auto;
		overflow: hidden;
		padding: 15px 22px;
		padding-right: 20px;
		border: 1px;
		border-style: solid;
		border-color: #567D8C;
		overflow: hidden;
}

aside.time{
	background-color: #F2F2F000;
	margin-top: 20px;
	border-radius: 7px;
	height: auto;
	overflow: hidden;
	padding:  0 22px 15px 22px;
}

h2.aside-title{
	display: inline-block;
	color: white;
	font-size: 35px;
	/* font-family: Georgia; */
	margin: 0px 0px 20px 32px;
	color: #071826;
	font-family: 'Geometria Regular';
}

h2.filter-title{
	display: inline-block;
	color: white;
	font-size: 35px;
	/* font-family: Georgia; */
	margin: 0px 0px 20px 110px;
	color: #071826;
	font-family: 'Geometria Regular';
}

h2.time-title{
	display: block;
	color: white;
	font-size: 80px;
	/* font-family: Georgia; */
	/* margin-left: 20px; */
	margin: 0 auto;
	font-family: 'Geometria Regular';
	text-align: center;
}

footer{
	background: linear-gradient(to right, #F2E3D5FF 1%, #07182699 40%, #00000000);
	height: 50px;
	width: 1185px;
	border-radius: 20px 20px 0 0;
	margin: 0 auto;
	margin-top: 30px;
}

span.copyright{
	display: inline-block;
	text-align: right;
	font-size: 25px;
	margin-top: 15px;
	margin-left: 60px;
	font-family: 'Spectral Medium';
}

a.copyright{
	color: #071826;
	text-decoration: none;
}

a.copyright:hover{
	text-decoration: underline;
}

option{
	background-color: #000000;
}

.new-quote-form{
	display: block;
	/* margin-left: 22px; */
	margin-bottom: 15px;
	border-radius: 6px;
	font-size: 20px;
	outline: none;
	border: none;
	color: #071826;
	font-family: 'Uninsta Medium';
}

#input-author{
	box-sizing: border-box;
	padding: 0 0 0 7px;
	height: 35px;
	font-size: 23px;
	width: 350px;
}

#input-category{
	width: 350px;
		padding: 0 0 0 7px;
		height: 35px;
}

#input-quote{
	font-size: 17px;
	resize: none;
	box-sizing: border-box;
	/* width: 350px; */
	width: 100%;
	height: 250px;
	padding: 5px 5px 5px 7px;
}

#input-error{
	border-radius: 0;
	color: #F7574F;
	margin-left: 5px;
	width: 346px;
	height: auto;
	overflow: hidden;
	display: block;
	word-break: break-all;,
}

#add-submit-button{
	display: block;
	box-sizing: border-box;
	color: #071826;
	font-size: 25px;
	text-align: center;
	background-color: white;
	margin: 20px 0 0px 105px;
	height: 40px;
	padding-top: 7px;
	width: 160px;
	border-radius: 7px;
	font-family: 'Geometria Regular';
	vertical-align: middle;
	user-select: none;
}

#add-submit-button:hover{
	background-color: #F5F5F5;
}

.filter-form{
	display: block;
	/* margin-left: 22px; */
	margin-bottom: 15px;
	border-radius: 6px;
	font-size: 20px;
	outline: none;
	border: none;
	font-family: 'Uninsta Medium';
}

#filter-author{
	color: #071826;
	box-sizing: border-box;
	padding: 0 0 0 7px;
	height: 35px;
	font-size: 23px;
	width: 350px;
}

#filter-category{
	color: #071826;
	width: 350px;
	padding: 0 0 0 7px;
	height: 35px;
	font-size: 23px;
}

.filter-buttons-wrap{
	margin: 20px 0 0px 27px;
}

.filter-button{
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
  color: #071826;
	font-size: 25px;
	text-align: center;
	width: 140px;
	height: 40px;
	padding-top: 7px;
	border-radius: 7px;
	font-family: 'Geometria Regular';
	font-size: 22px;
	margin-right: 7px;
	user-select: none;
}

.filter-button:hover{
	background-color: #F5F5F5;
}
